.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper .home-image {
  width: auto;
  max-width: 100vw;

  height: 85vh;
  min-height: 200px;
}

.header {
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
